.parent-container{
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
}

.ingredients-parent-container{
  width: 40%;
}

.input-container{
  width: 100%;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  box-shadow: 0px 1px 3px #aaa;
  min-height: 200px;
  margin-bottom: 20px;
}

.filter-container{
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 3px #aaa;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.ingredient-list-container{
  width: 100%;
}

.input-field-container{
  width: 100%;
  padding-bottom: 10px;
}

.input-text{
  width: 100%;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

input{
  width: 100%;
  border: none;
}

.button-container{
  width: 100%;
}

.button{
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: pink;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.display-flex-center-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-container{
  width: 50%;
}